.centered {
    max-width: 600px;
    margin: 20px auto;
}

div.form-extend {
    width: 100%;
    flex-direction: row;
    max-width: 600px;
}

.add-input {
    width: 100%;
}

div.main-container {
    width: 70%;
}

.list-container {
    width: 60%;
    margin: 0 auto;
}